<div class="items">
    <div class="productPage">
        <div class="hero1-product-name-wrap">
            <div class="size1-text">Bola Halo</div>
            <p>Name</p>
            <input type="text" id="gifteeName" placeholder="name">
            <p>Email</p>
            <input type="text" id="gifteeEmail" placeholder="email">
            <input type="submit" name="Add" id="addGiftee" value="Add">
            <input type="button" name="Add" id="clearList" value="Clear">
        </div>

        <div id="gifteeList">
        </div>
    </div>
    <div class="productPage">
        <div class="hero1-product-name-wrap">
            <div class="size1-text">Cielo</div>
            <p>Name</p>
            <input type="text" id="gifteeName2" placeholder="name">
            <p>Email</p>
            <input type="text" id="gifteeEmail2" placeholder="email">
            <input type="submit" name="Add" id="addGiftee2" value="Add">
            <input type="button" name="Add" id="clearList2" value="Clear">
        </div>

        <div id="gifteeList2">
        </div>
    </div>
</div>

<input type="text" name="" id="quantity-4b15c280ea11e6a3b92d522c3eec69df" value='1'>

<input type="submit" name="" id="add-to-cart" value="Add to Cart / Update">

<input type="submit" name="" class="w-commerce-commercecartopenlink" value="Cart">


<div class="cart">
    <div class="w-commerce-commercecartlist">
        <div class="w-commerce-commercecartitem">
            <div class="w-commerce-commercecartproductname">
                Bola Halo
            </div>
            <input type="text" name="" class="CartQuantity" value='1'>
        </div>
        <div class="w-commerce-commercecartitem">
            <div class="w-commerce-commercecartproductname">
                Cielo
            </div>
            <input type="text" name="" class="CartQuantity" value='1'>
        </div>
    </div>

    <input type="submit" id="continueToCheckout" value="continue to checkout">

</div>